config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/micheleartini/dnet-oai-server:
      branch: main
      repo: https://github.com/micheleartini/dnet-oai-server.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/micheleartini/dnet-oai-server git:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-amethyst-spoonbill.sh
        container: qc.acc_homely-dandelion-eagle
  QC.Doc:
    repos:
      github.com/micheleartini/dnet-oai-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-cobalt-urchin.sh
        container: qc.doc_clammy-gamboge-kudu
      github.com/micheleartini/dnet-oai-server git:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-brass-oriole.sh
        container: qc.doc_dorky-asparagus-javanese
      github.com/micheleartini/dnet-oai-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-cyan-opossum.sh
        container: qc.doc_snoopy-gamboge-foxhound
  QC.Lic:
    repos:
      github.com/micheleartini/dnet-oai-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-blue-dog.sh
        container: qc.lic_whiny-ecru-bracke
  QC.Sty:
    repos:
      github.com/micheleartini/dnet-oai-server checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-tomato-wolfhound.sh
        container: qc.sty_pokey-aquamarine-eel
      github.com/micheleartini/dnet-oai-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-ivory-elephant.sh
        container: qc.sty_chewy-ecru-tapir
  QC.Ver:
    repos:
      github.com/micheleartini/dnet-oai-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-orange-termite.sh
        container: qc.ver_surly-ecru-chin
timeout: 5400
